@keyframes timerFadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.notice-banner {
    position: fixed;
    display: block;
    width: 100%;
    height: rem-calc(85);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    background: rgba(0, 0, 0, 0.875);
    pointer-events: none;
    left: 0;
    right: 0;
    bottom: 0;
    overflow:hidden;
    color: $t-white;
    font-size: 22px;
    font-family: inherit;
    z-index: 1000;

    @include breakpoint(medium){
        height: rem-calc(60);
    }
    
    > * {
        display: block;
    }

    .notice--is-visible & {
        @include animation(promotionFadeIn, 1s, 0);
    }

    &.notice-banner--is-deactivated {
        display: none;
    }

    .notice--has-shown & {
        opacity: 0;
        visibility: hidden;
        animation: none;
        pointer-events: none;
    }

    &__container {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        text-align: left;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 0 rem-calc(20);
        margin: 0 auto;
        max-width: rem-calc(1350);
        align-items: center;
    }

    &__message {
        margin-right: rem-calc(20);
    }

    &__text {
        max-width: rem-calc(1200);

        a {
            color: $t-link;
            text-decoration: underline;
            pointer-events: all;
        }

        p {
            margin: 0;
        }

        & span {
            display: none;

            @include breakpoint(medium){
                display: inline-block;
            }
        }
    }

    &__button {
        display: block;
    }

    &__close {
        color: $t-white;
        text-decoration: none;
        padding: rem-calc(8) rem-calc(8);
        font-family: inherit;
        font-size: 22px;
        background: transparent;
        border: 1px solid $t-white;
        cursor: pointer;
        display: flex;
        align-items: center;
        pointer-events: all;
    
        &:hover {
            color: white;
        }
    }
}