/* =================================== /*
    $ MIXINS GRID
/* =================================== */

@mixin breakpoint($breakpoint) {
    @if $breakpoint == small {
        @media only screen and (min-width: 0) { @content };    //600px
    }
    @if $breakpoint == smedium {
        @media only screen and (min-width: 600px) { @content };     //900px
    }
    @if $breakpoint == medium {
        @media only screen and (min-width: 768px) { @content };    //1200px
    }
    @if $breakpoint == large {
        @media only screen and (min-width: 1024px) { @content };    //1800
    }
    @if $breakpoint == xlarge {
      @media only screen and (min-width: 1200px) { @content };    //1800
    }
    @if $breakpoint == xxlarge {
      @media only screen and (min-width: 1300px) { @content };    //1800
    }
    @if $breakpoint == xxxlarge {
      @media only screen and (min-width: 1440px) { @content };    //1800
    }
  }
  