@keyframes promotionFadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes  promotionSlideIn{
    0% {
        visibility: hidden;
        opacity: 0;
    }

    75%{
        transform:translateX(600px)
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform:translateX(500px)
    }
}

@keyframes  promotionSlideUp {
    0% {
        transform:translateY(500px);
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform:translateY(0);
    }
}