@mixin image-settings-mobile($width, $height) {
    width: $width; 
    height: $height;
}

@mixin image-settings-desktop($width, $height) {
    width: $width; 
    height: $height;
}

@mixin animation($animation-name, $time-transition, $delay-transition) {
    animation-name: $animation-name; 
    animation-duration: $time-transition; 
    animation-delay: $delay-transition; 
    animation-fill-mode: forwards;
}